body {
    background: white;
    font-family: arial, sans-serif;
    font-size: 13px;
}

a {
    text-decoration: none;
    color:#5f6368;
}

a:hover {
    text-decoration: underline;
}

nav {
    margin: 25px;
    display: flex;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.nav-right {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.nav-link {
    padding: 0px 8px 0px 8px;
}

#apps-button {
    position: relative;
    top: -2px;
    margin: 0px 10px 0px 10px;
}

#sign-in-button {
    background-color: #4485f5;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    padding: 8px 12px 8px 12px;
    border-radius: 2px;
}


#sign-in-button:active {
    background-color: #3377db;
    box-shadow: inset 0px 5px 5px -5px #0e3881;
}

.logo {
    padding: 130px 0px 25px 0px;
    display: flex;
    justify-content: center;
}

.search-bar {
    padding: 0px 0px 25px 0px;
    display: flex;
    justify-content: center;
}

#query-background {
    width: 436px;
    height: 46px;
    border-radius: 25px;
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

#query-background:hover {
    box-shadow: 0px 1px 5px darkgrey;
}

#query-background:focus-within {
    box-shadow: 1px 1px 5px darkgrey;
}

#query {
    font-size: 12px;
    width: 400px;
    height: 20px;
    border: 0px;
}

.search-buttons {
    display: flex;
    justify-content: center;
}

.button {
    background: #f2f2f2;
    font-size: 14px;
    margin: 5px;
    padding: 8px 15px 8px 15px;
    border: 1px solid transparent;
    border-radius: 2px;
}

.button:hover {
    border: 1px solid lightgrey;
    box-shadow: 0px 1px 2px -1px darkgrey;
}

.button:active {
    border: 1px solid lightskyblue;
}

footer {
    background-color: #f2f2f2;
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #e4e4e4;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-left: 21px;
}

.footer-right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding-right: 21px;
}

.footer-link {
    padding: 0px 12px 0px 12px;
    font-size: 14px;
}