body {
    background: white;
    font-family: arial, sans-serif;
    font-size: 20px;
}

.logo {
    padding: 200px 0px 20px 0px;
    display: flex;
    justify-content: center;
}

.search-bar {
    padding: 0px 0px 10px 0px;
    display: flex;
    justify-content: center;
}

#query-background {
    width: 436px;
    height: 46px;
    border-radius: 25px;
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

#query-background:hover {
    box-shadow: 0px 1px 5px darkgrey;
}

#query-background:focus-within {
    box-shadow: 1px 1px 5px darkgrey;
}

#query {
    font-size: 12px;
    width: 400px;
    height: 20px;
    border: 0px;
}

.search-buttons {
    display: flex;
    justify-content: center;
}

.button {
    background: rgb(240, 240, 240);
    font-size: 12px;
    margin: 5px;
    padding: 10px 15px 10px 15px;
    border: 1px solid transparent;
    border-radius: 2px;
}

.button:hover {
    border: 1px solid lightgrey;
    box-shadow: 0px 1px 2px -1px darkgrey;
}